<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body{
            display: grid;
            grid-template-columns: 0.5fr 1fr;
        }    
    </style>
    <title>Document</title>
</head>

<body>
    <!-- the form to submit a post to DB with action 'posts' -->
    <form action="/posts" method="post">
        <input type="text" placeholder="Title" name="title">
        <br>
        <textarea name="text" placeholder="Text" cols="50" rows="5"></textarea>
        <br>
        <input type="submit">
    </form>

    <!-- post part it's for map the DB -->
    <ul class="posts">
        <!-- <% console.log(posts) %> -->
        <% for(var i=0; i<posts.length; i++) {%>
            <div class="post">
                <h3>
                    <%= posts[i].title %>
                </h3>
                <p>
                    <%= posts[i].text %>
                </p>
                <a href="/edit/<%= posts[i]._id %>" > update </a>
                <hr>
            </div>
        <% } %>
    </ul>
    <script src='main.js'></script>
</body>

</html>