<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        form {
            grid-column-start: 2;
        }
    </style>
</head>

<body>
    <form action="/update/<%=post[0]._id%>" method="post">
        Title
        <br>
        <input type="text" name="title" value="<%= post[0].title %>">
        <br> 
        Text
        <br>
        <textarea name="text" cols="50" rows="5"><%= post[0].text %></textarea>
        <br>
        <input type="submit">
    </form>
</body>

</html>